"*":
  core:
    closeEmptyWindows: false
    disabledPackages: [
      "atom-ternjs"
      "highlight-selected"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "pure-syntax"
    ]
  editor:
    fontFamily: "Operator mono"
    fontSize: 17
    invisibles: {}
    preferredLineLength: 250
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
    tabLength: 4
    tabType: "hard"
  "exception-reporting":
    userId: "3b99447e-343c-77ef-213e-9661a6182c4a"
  "linter-ui-default":
    showPanel: true
  "nord-atom-ui":
    darkerFormFocusEffect: true
  welcome:
    showOnStartup: false
